<!-- extend base layout -->
{% extends "base.html" %}

{% block js %}
    <script type="text/javascript">
    function set_openid(openid, pr)
    {
        u = openid.search('<username>');
        if (u != -1) {
            // openid requires username
            user = prompt('Enter your ' + pr + ' username:');
            openid = openid.substr(0, u) + user;
        }
        form = document.forms['login'];
        form.elements['openid'].value = openid;
    }
    </script>

{% endblock %}

{% block main %}
    <h1>Sign In</h1>
    <form action="{{ url_for('login') }}" method="post" name="login">
        <p>
            Please enter your username:<br>
            {{ form.username(size=80) }}
        </p>
        
        <p>
            Please enter your password:<br>
            {{ form.password(size=80) }}
        </p>
        
        <p><input type="submit" value="Sign In"></p>
    </form>
{% endblock %}
